{% extends 'web/master.html' %}
{% load static %}
{% block title %}服务案列-顺洁{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/job.css" %}">
{% endblock %}
{% block content %}
<div class="case">
    <div class="container">
        <div class="center">
            <h1 class="title">案例演示</h1>
            <p class="title-p">CASE PRESENTATION</p>
        </div>
        <div class="center">
            <h1 class="title">合作企业</h1>
            <p class="title-p">THE COOPERATIVE ENTERPRISE</p>
        </div>
    </div>
</div>
{% endblock %}