{% extends 'web/master.html' %}
{% load static %}
{% block title %}服务案列-顺洁{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/case.css" %}">
{% endblock %}
{% block content %}
<div class="case">
    <div class="container">
        <div class="center wow fadeInUp">
            <h1 class="title">案例演示</h1>
            <p class="title-p">CASE PRESENTATION</p>
        </div>
        <div class="case-body pd-100">
            <div class="row">
                <div class="col-md-6 item center">
                    <a class="a-case wow bounceIn" href="/cases/1/">
                        <div class="hov">
                            <span>粼江峰阁</span>
                        </div>
                        <img class="img" src="{% static "images/case/ljfg.jpg" %}" alt="">
                    </a>
                </div>
                <div class="col-md-6 item center">
                    <a class="a-case wow bounceIn" href="/cases/2/" title="">
                        <div class="hov">
                            <span>光华揽胜</span>
                        </div>
                        <img class="img" src="{% static "images/case/ghls.jpg" %}" alt="">
                    </a>
                </div>
                <div class="col-md-6 item center">
                    <a class="a-case wow bounceIn" href="/cases/3/" title="">
                        <div class="hov">
                            <span>都会风尚</span>
                        </div>
                        <img class="img" src="{% static "images/case/dhfs.jpg" %}" alt="">
                    </a>
                </div>
                <div class="col-md-6 item center">
                    <a class="a-case wow bounceIn" href="/cases/4/">
                        <div class="hov">
                            <span>金沙大镜湾</span>
                        </div>
                        <img class="img" src="{% static "images/case/jsdjw.jpg" %}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="center wow fadeInUp">
            <h1 class="title">合作企业</h1>
            <p class="title-p">THE COOPERATIVE ENTERPRISE</p>
        </div>
        <div class="case-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="item-lg">
                        <img class="wow fadeInUp" src="{% static "images/qy/wk.png" %}" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-lg">
                        <img class="wow fadeInUp" src="{% static "images/qy/hd.png" %}" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-lg">
                        <img class="wow fadeInUp" src="{% static "images/qy/hr.png" %}" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-lg">
                        <img class="wow fadeInUp" src="{% static "images/qy/lh.png" %}" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-lg">
                        <img class="wow fadeInUp" src="{% static "images/qy/lg.png" %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}