{% extends 'web/master.html' %}
{% load static %}
{% block title %}联系我们-顺洁{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/contact.css" %}">
{% endblock %}
{% block content %}
    <div class="contact">
        <div class="container">
            <div class="pd-100">
                <div class="center wow fadeInUp">
                    <h1 class="title">联系我们</h1>
                    <p class="title-p">CONTACT US</p>
                </div>
                <div class="center row">
                    <div class="desc wow fadeInUp">
                        <img src="{% static "images/wx.png" %}" alt="微信">
                        <img src="{% static "images/email.png" %}" alt="邮件">
                        <p>罗总监:13183813382</p>
                        <p>微信公众号：成都顺洁环卫</p>
                        <p>邮箱：807451203@qq.com</p>
                        <p>地址：四川•成都市青羊区北书院街9号1栋2单元1楼7号</p>
                    </div>
                    <div class="b-img wow bounceIn">
                        <img class="img" src="{% static "images/address.jpg" %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}