{% extends 'web/master.html' %}
{% load static %}
{% block title %}管道疏通，小区绿化，管道更换-顺洁{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}
{% block content %}
<div class="index-server">
    1
</div>
<div class="container">
    <div class="center">
        <h1 class="title">我们的服务</h1>
        <p class="title-p">OUR SERVICES</p>
    </div>
</div>
<div class="wel-word">
    <div id="wel-bg" class="container">
        <!-- <img src="{% static "images/welcome_bg.jpg" %}" alt=""> -->
    </div>
</div>
{% endblock %}