{% extends 'web/master.html' %}
{% load static %}
{% block title %}管道疏通，小区绿化，管道更换-顺洁{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="center">
        <div class="hex-box wow bounceIn">
            <ul id="hexGrid">
                <li class="hex">
                    <a class="hexIn" href="/projects/1/">
                        <img src="{% static "/images/1.jpg" %}" alt="">
                        <h1>化粪池清涛</h1>
                        <p>查看</p>
                    </a>
                </li>
                <li class="hex">
                    <a class="hexIn" href="projects/2/">
                        <img src="{% static "/images/2.jpg" %}" alt="">
                        <h1>家庭管道疏通</h1>
                        <p>查看</p>
                    </a>
                </li>
                <li class="hex">
                    <a class="hexIn" href="projects/3/">
                        <img src="{% static "/images/3.jpg" %}" alt="">
                        <h1>生活厨房清洗</h1>
                        <p>查看</p>
                    </a>
                </li>
                <li class="hex">
                    <a class="hexIn" href="projects/1/">
                        <img src="{% static "/images/4.jpg" %}" alt="">
                        <h1>市政管道改造</h1>
                        <p>查看</p>
                    </a>
                </li>
                <li class="hex">
                    <a class="hexIn" href="projects/1/">
                        <img src="{% static "/images/5.jpg" %}" alt="">
                        <h1>外墙清洗</h1>
                        <p>查看</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="wow fadeInUp">
            <h1 class="title">我们的服务</h1>
            <p class="title-p">OUR SERVICES</p>
        </div>
        <div class="service-detail pd-100">
            <div class="row">
                <div class="col-md-4 item">
                    <a href="/projects/1/" title="管道改造">
                        <div class="ser-pro wow fadeInUp">
                            <img src="{% static "images/pip_rec.jpg" %}" alt="">
                            <div class="detail">
                                <p class="title">管道改造</p>
                                <p>大型楼盘管道维护改造整体工程</p>
                                <p class="tips"><span class="icon">></span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 item">
                    <a href="/projects/2/" title="管道疏通">
                        <div class="ser-pro wow fadeInUp">
                            <img src="{% static "images/pip_rush.jpg" %}" alt="">
                            <div class="detail">
                                <p class="title">管道疏通</p>
                                <p>下水管道疏通，化粪池吸污、运污</p>
                                <p class="tips"><span class="icon">></span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 item">
                    <a href="/projects/3/" title="管道维修">
                        <div class="ser-pro wow fadeInUp">
                            <img src="{% static "images/pip_fix.jpg" %}" alt="">
                            <div class="detail">
                                <p class="title">管道维修</p>
                                <p>家庭下水道维修及各类地下管道更换</p>
                                <p class="tips"><span class="icon">></span></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wel-word">
    <div class="container" style="padding:0;">
        <div class="rel-wel">
            <img class="img-wel" src="{% static "images/welcome_bg.jpg" %}" alt="">
            <div class="des wow bounceIn">
                <p class="title">同一个梦想—感召团队</p>
                <div class="ms">要想走的快，可以一个人走，要想走得远，就要一群人走。一个梦想，需要一支同心同频同力的团队共同前行。伟大的梦想+人格魅力总能吸引和感召更多优秀的愿意成长和成就自我的人才，为梦想奋斗，为爱付出。</div>
                <div class="ms">顺洁欢迎每一个志同道合的伙伴加入，正是因为有你这个团队才会更精彩！</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}