{% extends 'web/master.html' %}
{% load static %}
{% block title %}人才招聘-顺洁{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/job.css" %}">
{% endblock %}
{% block content %}
<div class="jobs">
    <div class="container">
        <div class="center">
            <h1 class="title">加入我们</h1>
            <p class="title-p">JOIN US</p>
        </div>
        <div class="bg-detail">
            <img class="img" src="{% static "images/job_bg.jpg" %}" alt="">
            <div class="item plane">
                <span class="sm">岗位介绍、前景</span><span class="title">人才计划</span>
                <div class="detail" style="display:none;">
                    <h4>行业前景</h4>
                    <div class="msg">环卫服务业是城市公用事业的一部分，工作内容为对城市环境卫生和市容市貌进行维护。如今随着我国快速的城镇化发展， 政府在城乡基础建设和市容环境卫生方面的投入也在加大。各项环卫工程都逐渐步入了科技化、环保化服务的进程，越来越多的年轻人和团队涌入其中，环卫服务业需求也愈加明显。</div>
                    <h4>岗位介绍</h4>
                    <div class="msg">
                        <h5 class="center">虚位以待 招贤纳士</h5>
                        <div class="row center">
                            <div class="col-md-6 col-xs-6">市场部主管</div>
                            <div class="col-md-6 col-xs-6">1名</div>
                            <div class="col-md-6 col-xs-6">企 划 专 员</div>
                            <div class="col-md-6 col-xs-6">2名</div>
                            <div class="col-md-6 col-xs-6">工程部主管</div>
                            <div class="col-md-6 col-xs-6">1名</div>
                            <div class="col-md-6 col-xs-6">司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机</div>
                            <div class="col-md-6 col-xs-6">1名</div>
                            <div class="col-md-6 col-xs-6">客 服 专 员</div>
                            <div class="col-md-6 col-xs-6">5名</div>
                            <div class="col-md-6 col-xs-6">网建设专员</div>
                            <div class="col-md-6 col-xs-6">2名</div>
                            <div class="col-md-6 col-xs-6">培 训 专 员</div>
                            <div class="col-md-6 col-xs-6">1名</div>
                            <div class="col-md-6 col-xs-6">工程技术员</div>
                            <div class="col-md-6 col-xs-6">10名</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item wages">
                <span class="sm">福利待遇、培训晋升</span><span class="title">人才计划</span>
                <div class="detail text-l">
                    <dl>
                        <dt>出差津贴</dt>
                        <dd>出差外地的人员根据相应级别均可得到该项津贴。</dd>
                        <dt>通讯费用津贴</dt>
                        <dd>公司按你所被聘的职位给你提供相应的通讯费用津贴。</dd>
                    </dl>
                </div>
            </div>
            <div class="item resume">
                <span class="title">人才计划</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}