{% extends 'web/master.html' %}
{% load static %}
{% block title %}服务案列-顺洁{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/project.css" %}">
{% endblock %}
{% block content %}
<div class="case">
    <div class="container">
        <div class="project-item pd-100">
            <div class="center">
                <h1 class="title">服务项目</h1>
                <p class="title-p">SERVER PROJECT</p>
                <img class="img" src="{% static "images/pip_rush_big.jpg" %}" alt="">
            </div>
            <div class="project-body">
                <div class="items-pro center">
                    <h1 class="title">管道疏通</h1>
                </div>
            </div>
            <section class="section-detail wow fadeInUp">
                顺洁拥有经验丰富的专业技术团队，清掏化粪池污水池等，都得到客户的一致好评。 我们现有先进的大中小型管道疏通设备，采用先进的管道疏通技术，专业疏通各类管道，高压射流清洗管道、高压疏通管道、高压冲洗泥沙管道、清洗各种大小油污管道。
                <br/>
                <br/>
                1.清掏化粪池污水池：化粪池、污水池即将生活污水分格沉淀，及对污泥进行厌氧消化的小型处理构筑物；
                <br/>
                2.各类管道疏通：疏通家庭、酒店、公司、学校等单位的下水道；小便池、阴沟、窑井、化粪池等各种下水管道疏通清理，污水管道疏通清理,下水道疏通、高压疏通各种下水道、清理下水道以及成都清掏化粪池。 
            </section>
        </div>
    </div>
</div>
{% endblock %}