{% extends 'web/master.html' %}
{% load static %}
{% block title %}服务案列-顺洁{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/project.css" %}">
{% endblock %}
{% block content %}
<div class="case">
    <div class="container">
        <div class="project-item pd-100">
            <div class="center">
                <h1 class="title">服务项目</h1>
                <p class="title-p">SERVER PROJECT</p>
                <img class="img" src="{% static "images/pip_fix_big.jpg" %}" alt="">
            </div>
            <div class="project-body">
                <div class="items-pro center">
                    <h1 class="title">管道维修</h1>
                </div>
            </div>
            <section class="section-detail wow fadeInUp">
                顺洁专业维修各类管道，专业下水道维修、马桶维修、厕所改道、改道换管、改下水道、换水龙头以及管道安装，安装各种型号面盆，修理水箱漏水，更换水箱配件等。
            </section>
        </div>
    </div>
</div>
{% endblock %}