{% extends 'web/master.html' %}
{% load static %}
{% block title %}服务案列-顺洁{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/project.css" %}">
{% endblock %}
{% block content %}
<div class="case">
    <div class="container">
        <div class="project-item pd-100">
            <div class="center">
                <h1 class="title">服务项目</h1>
                <p class="title-p">SERVER PROJECT</p>
                <img class="img" src="{% static "images/plan_big.jpg" %}" alt="">
            </div>
            <div class="project-body">
                <div class="items-pro center">
                    <h1 class="title">管道改造</h1>
                </div>
            </div>
            <section class="section-detail wow fadeInUp">
                顺洁工程部具备专业的管道改造工程队伍与设备，国际化的施工标准，专业施工队伍，严格的施工流程，让管道改造方案和改造工程贴合各类客户需求。
                <br/>
                <br/>
                1、大型市政管道改造；
                <br/>
                2、物业楼盘出水支管管道改造；
                <br/>
                3、地下化粪池、污水池道管网改造。
            </section>
        </div>
    </div>
</div>
{% endblock %}