{% extends 'web/master.html' %}
{% load static %}
{% block title %}服务案列-顺洁{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/case.css" %}">
{% endblock %}
{% block content %}
<div class="case">
    <div class="container">
        <div class="center">
            <h1 class="title">粼江峰阁</h1>
            <p class="title-p">CASE PRESENTATION</p>
        </div>
        <div class="case-body">
            <div class="items-case">
                <img class="img" src="{% static "images/case/ljfg/1.jpg" %}" alt="">
                <img class="img" src="{% static "images/case/ljfg/2.jpg" %}" alt="">
                <img class="img" src="{% static "images/case/ljfg/3.jpg" %}" alt="">
                <img class="img" src="{% static "images/case/ljfg/4.jpg" %}" alt="">
                <img class="img" src="{% static "images/case/ljfg/5.jpg" %}" alt="">
                <img class="img" src="{% static "images/case/ljfg/6.jpg" %}" alt="">
                <img class="img" src="{% static "images/case/ljfg/7.jpg" %}" alt="">
                <img class="img" src="{% static "images/case/ljfg/8.jpg" %}" alt="">
                <img class="img" src="{% static "images/case/ljfg/9.jpg" %}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}