{% extends 'master.html' %}
{% block title %}关于顺洁{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/about.css">
{% endblock %}
{% block content %}
<section class="about">
    <h2 class="title">我们是谁</h2>
    <div class="desc">成都市顺洁环卫服务有限公司成立于2017年7月，公司本着“  科技  创新   环保”的服务理念，用“+互联网”创造环卫服务新标杆，商业管道疏通，家庭管道疏通，淤泥清洁，化粪池清淘，管道更换。营造温馨的生活环境，为四川环保事业的发展添砖加瓦。</div>
    <h2 class="title">家庭管道专业疏通工具</h2>
    <div class="tech row">
        <div class="col-md-3 col-sm-6 col-xs-12 block">
            <div class="block-image">
                <a href="javascript:;">
                    <img class="img-s" src="/static/images/tools/systq.png">
                </a>
            </div>
            <div class="message-title">手摇式疏通器</div>
            <div class="message-body">
                用于地漏，洗菜池，面盆等过小管道的疏通，解决毛发、菜渣等小型颗粒物体疏通。
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 block">
            <div class="block-image">
                <a href="javascript:;">
                    <img class="img-s" src="/static/images/tools/stj.png">
                </a>
            </div>
            <div class="message-title">大功率疏通机</div>
            <div class="message-body">
                通常用于住户主管道疏通，马力大，长度长，都特定接头。
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 block">
            <div class="block-image">
                <a href="javascript:;">
                    <img class="img-s" src="/static/images/tools/dzstj.png">
                </a>
            </div>
            <div class="message-title">电钻式疏通器</div>
            <div class="message-body">
                解决家庭管网油块，沙泥等疏通，马力大，长度长。
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 block">
            <div class="block-image">
                <a href="javascript:;">
                    <img class="img-s" src="/static/images/tools/ksj.jpg">
                </a>
            </div>
            <div class="message-title">窥视镜</div>
            <div class="message-body">
                解决家庭管网油块，沙泥等疏通，马力大，长度长。
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 block">
            <div class="block-image">
                <a href="javascript:;">
                    <img class="img-s" src="/static/images/tools/stjkl.png">
                </a>
            </div>
            <div class="message-title">疏通剂</div>
            <div class="message-body">
                分解管道内的有机物，达到疏通效果。
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 block">
            <div class="block-image">
                <a href="javascript:;">
                    <img class="img-s" src="/static/images/tools/qwz.jpg">
                </a>
            </div>
            <div class="message-title">取物抓</div>
            <div class="message-body">
                直接抓住物体，从而取出。
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 block">
            <div class="block-image">
                <a href="javascript:;">
                    <img class="img-s" src="/static/images/tools/mtpw.png">
                </a>
            </div>
            <div class="message-title">马桶皮碗</div>
            <div class="message-body">
                针对马桶疏通，通过气压解决固体堵塞状况。
            </div>
        </div>
    </div>
    <!-- big car -->
    <h2 class="title">大型疏通车</h2>
    <div class="tech row">
            <div class="col-md-6 col-sm-6 col-xs-12 block">
                <div class="block-image img-b">
                    <a href="javascript:;">
                        <img class="img-s img-b" src="/static/images/dx/dxqxc.jpg">
                    </a>
                </div>
                <div class="message-title">单一疏通车</div>
                <div class="message-body">
                    用于疏通车辆。
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 block">
                <div class="block-image img-b">
                    <a href="javascript:;">
                        <img class="img-s img-b" src="/static/images/dx/gyqxc.jpg">
                    </a>
                </div>
                <div class="message-title">多功能污水处理车</div>
                <div class="message-body">
                    吸污，疏通，处理化粪池污物车辆。
                </div>
            </div>
        </div>
    <h2 class="title">联系我们</h2>
    <div class="con-us">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <img class="wx" src="/static/images/wx.jpg" alt="微信二维码">
                <p class="wx-name">官方微信</p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <img class="tell" src="/static/images/tell.png" alt="微信二维码">
                <p class="wx-name">联系电话：<a href="tel:13183813382">13183813382</a></p>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}