{% extends 'master.html' %}
{% block title %}合作伙伴{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/partner.css">
{% endblock %}
{% block content %}
    <div class="partner row">
        <h2 class="title">合作伙伴</h2>
        <div class="col-md-3 col-sm-4 col-xs-12 item">
            <img class="p" src="/static/images/partner/zcgj.png" alt="">
            <h4>尊城国际</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 item">
            <img class="p" src="/static/images/partner/lmgj.png" alt="">
            <h4>罗马国际</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 item">
            <img src="/static/images/partner/ldws.png" alt="">
            <h4>拉德方斯</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 item">
            <img class="p" src="/static/images/partner/wgds.png" alt="">
            <h4>万高都市新城</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 item">
            <img class="p" src="/static/images/partner/tyds.png" alt="">
            <h4>天亿大厦</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 item">
            <img class="p" src="/static/images/partner/kpls.png" alt="">
            <h4>康普雷斯</h4>
        </div>
    </div>
{% endblock %}