/* 关于我们 */
.service-idea{
    padding: 20px 0;
}
.service-idea .title{
    color: #ffffff;
}
.service-idea .title-p{
    color: #ffffff;
}
.service-idea .img-s{
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
    height: 186px;
    display: block;
}
.service-idea .message-title{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}
.service-idea .message-body{
    line-height: 1.65;
}
.vision{
    padding: 30px 0;
}
.us-info img{
    width: 100%;
}
.us-info .desc{
    padding: 10px 0;
}