/* 案列 */
.case-body .img{
    width: 100%;
}
.case-body .item{
    margin: 15px 0;
    padding: 0 20px;
}
.item-lg{
    text-align: center;
    margin: 15px 0;
    overflow: hidden;
    /* width: 150px; */
    /* height: 60px; */
}
.item-lg{
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.item-lg:hover{
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.items-case{
    padding: 0 80px;
    width: 900px;
    margin: 0 auto;
}
.items-case .img{
    width: 100%;
    padding: 6px 0;
}
.case-name{
    font-size: 18px;
    color: #807878;
}
@media (max-width: 768px){
    .items-case{
        padding: 0 15px;
    }
}
.a-case{
    display: block;
    position: relative;
}
.a-case .hov{
    background: rgba(1, 1, 1,0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 300px;
    display: none;
}
.a-case:hover .hov{
    display: block;
}
.a-case .hov>span{
    padding: 5px 15px;
    -webkit-border: 1px solid #fff;
    -moz-border: 1px solid #fff;
    -ms-border: 1px solid #fff;
    -o-border: 1px solid #fff;
    border: 1px solid #fff;
    font-size: 15px;
    border-radius: 2px;
}