/* common.css */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 1);
}
body{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 1);
    font: 16px/1.5 "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #fff;
    overflow-x: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:before,.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
.color-d{
    background-color: #57546F
}
.color-l{
    background-color: #CCBA7C;
}
a{
    color: #fff;
    text-decoration: none;
}
/* #nav .container{
    background-color: #CCBA7C;
} */
.carousel-indicators .active{
    background-color: #57546F;
}
.carousel-indicators li{
    background-color: #fff;
    border: none;
}
.nav-img{
    height: 100%;
}
.navbar-brand{
    padding: 0;
    height: 70px;
}
#nav-a{
    background-color: #57546F;
    padding: 10px 40px 10px 30px;
}
.navbar-nav{
    margin-top: 0;
}
#nav-a .txt{
    margin-top: 19px;
    padding-left: 5px;
}
#nav-a .txt .title{
    font-size: 16px;
    color: #fff;
    margin-bottom: -5px;
}
#nav-a .txt .en-title{
    font-size: 12px;
    color: #aaa9b6;
}
.navbar{
    border: none;
}
a:hover{
    color: #CCBA7C;
    text-decoration: none;
}
.nav>li>a:hover{
    background-color: #57546F;
}
.navbar-nav>li>a{
    line-height: 40px;
}
ul li{
    list-style: none;
}
#main_footer{
    margin-bottom: 30px;
}
#main_footer .item{
    height: 240px;
}
#main_footer .item h3{
    margin-bottom: 0;
    font-size: 20px;
}
#main_footer .item .en{
    color: #C2C1CF;
}
#main_footer .item .links{
    padding-top: 5px;
    font-size: 12px;
}
#main_footer .item .links ul li{
    padding: 3px 0;
}
.title{
    color: #000000;
    font-size: 28px;
    margin-bottom: 0;
}
.low{
    padding: 15px 0;
}
.title-p{
    color: #A9A9A9;
    font-size: 20px;
}
.center{
    text-align: center;
}
.color-black{
    color: #000000;
}
.pd-40{
    padding: 50px 0;
}
.active a {
    /* color: #03c9a9 !important; */
    background-color: #57546F;
}
#top{
    display: inline-block;
    position: fixed;
    right: 5px;
    bottom: 35px;
    width: 48px;
    height: 48px;
    background: url(/static/images/top.png) no-repeat;
    cursor: pointer;
    display: none;
}
.img{
    width: 100%;
}
#main_footer a:visited{
    color: #fff;
}
#main_footer a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}
#main_footer a:hover {
    color: #CCBA7C;
    text-decoration: none;
}
.navbar-toggle .icon-bar{
    background-color: #57546F;
}
.navbar-toggle{
    padding-top: 18px;
}
@media (min-width: 768px){  
    #banner{
        height: 500px;
    }
    #banner .item{
        height: 500px;
    }
}
@media (max-width: 768px){  
    #banner{
        height: 220px;
    }
    #banner .item{
        height: 220px;
    }
}
.navbar-fixed-top{
    background: rgba(204, 186, 124, 0.7) !important;
    transition: All 0.4s;
    -webkit-transition: All 0.4s;
    -moz-transition: All 0.4s;
    -o-transition: All 0.4s;
}
#nav .container{
    position: relative;
}
.a-banner{
    position: absolute;
    top: -450px;
    left: 30px;
}
.a-banner img{
    width: 80px;
}
#main_footer{
    padding: 60px 200px 15px 220px;
}
.pd-100{
    padding: 0 130px;
}
@media (max-width: 768px){
    #main_footer{
        padding: 0 20px;
    }
    .pd-100{
        padding: 20px !important;
    }
}
#nav .container{
    background-color: #CCBA7C;
}
.navbar-fixed-top .container{
    background: rgba(204, 186, 124, 0.7) !important;
}
.bottom-img>img{
    width: 40px;
    height: 40px;
}
.wxewm{
    width: 100px;
    height: 100px;
}