/* 首页 */
.plate{
    padding: 30px 50px;
}
.plate .line-s{
    margin-top: -50px;
}
.service-detail .ser-pro{
    color: #fff;
    margin: 15px 0;
}
.service-detail .ser-pro img{
    width: 100%;
}
.service-detail .ser-pro .detail{
    height: 170px;
    text-align: center;
    background-color: #CCBA7C;
}
.service-detail .ser-pro .detail p{
    padding-top: 20px;
}
.service-detail .ser-pro .detail .title{
    font-size: 22px;
    color: #fff;
}
.service-detail .ser-pro .detail .tips .icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #fff;
    color: #CCBA7C;
    border-radius: 50%;
    cursor: pointer;
    transition: All 0.4s;
    -webkit-transition: All 0.4s;
    -moz-transition: All 0.4s;
    -o-transition: All 0.4s;
}
.service-detail .ser-pro:hover .tips>.icon{
    background-color: #57546F;
    color: #fff;
}
.wel-word .rel-wel{
    position: relative;
}
.des{
    padding: 0 5px;
    position: absolute;
    top: 30px;
    text-align: center;
}
.des .title{
    font-size: 25px;
    color: #fff;
    margin-bottom: 22px;
}
.des .ms{
    padding: 0 100px;
    font-size: 14px;
    line-height: 2;
}
.img-wel{
    width: 100%;
}
@media (max-width: 768px){
    .plate .line-s {
        margin-top: 0px;
    }
    .item-plate{
        padding: 10px 0;
    }
    .des{
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);
    }
    .des .ms{
        padding: 0;
        line-height: 1.5;
        color: #fff;
        font-size: 12px;
    }
}
.hex-box .hex{
    width: 150px;
    height: 86px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: auto 173px;
    -moz-background-size: auto 173px;
    -ms-background-size: auto 173px;
    -o-background-size: auto 173px;
    position: relative;
    float: left;
    margin: 25px 5px;
    text-align: center;
    zoom: 1;
}
.hex-box .hex-1{
    background-image: url(/static/images/sep_tank.png);
}
.hex-box .hex-2{
    background-image: url(/static/images/pip_home.png);
}
.hex-box .hex-3{
    background-image: url(/static/images/gov.png);
}
.hex-box .hex-4{
    background-image: url(/static/images/wall.png);
}
.hex-box .hex-5{
    background-image: url(/static/images/cush_d.png);
}
.hex .corner-1, .hex .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -2;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hex .corner-1:before {
    -webkit-transform: rotate(-60deg) translate(-87px, 0px);
    -moz-transform: rotate(-60deg) translate(-87px, 0px);
    -ms-transform: rotate(-60deg) translate(-87px, 0px);
    -o-transform: rotate(-60deg) translate(-87px, 0px);
    transform: rotate(-60deg) translate(-87px, 0px);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}
.hex .corner-2:before {
    -webkit-transform: rotate(60deg) translate(-48px, -11px);
    -moz-transform: rotate(60deg) translate(-48px, -11px);
    -ms-transform: rotate(60deg) translate(-48px, -11px);
    -o-transform: rotate(60deg) translate(-48px, -11px);
    transform: rotate(60deg) translate(-48px, -11px);
    bottom: 0;
}
.hex .corner-1:before, .hex .corner-2:before {
    width: 173px;
    height: 173px;
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    background: inherit;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hex-box .hex .corner-1 {
    z-index: -1;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}
.hex-box .hex .corner-2 {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.hex.hex-gap {
    margin-left: 86px;
}
