/* 人才招聘 */
.jobs{
    padding: 20px 0;
}
.jobs .container{
    padding: 0;
}
.jobs .bg-detail{
    position: relative;
}
.jobs .bg-detail .item{
    position: absolute;
    top: 30px;
    background-color: #57546F;
    width: 60%;
    height: 50px;
    line-height: 50px;
    text-align: right;
    cursor: pointer;
}
.jobs .bg-detail .item .title{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
}
.jobs .bg-detail .item .sm{
    font-size: 6px;
    color: #fff;
}
.jobs .bg-detail .item .detail{
    background-color: #CCBA7C;
    padding: 8px 25px;
    z-index: 100;
    position: absolute;
    top: 50px;
    width: 100%;
    display: none;
    cursor: default;
}
.msg{
    line-height: 1.5;
    text-align: left;
}
.jobs .bg-detail .item .detail h4{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}
.jobs .bg-detail .wages{
    top: 100px;
    width: 40%;
}
.jobs .bg-detail .resume{
    top: 170px;
    width: 30%;
}
.text-l{
    text-align: left;
}
.wages dt{
    font-size: 16px;
    padding: 2px 0;
}
.wages dd{
    font-size: 12px;
    padding-left: 15px;
    padding-bottom: 5px;
}
.main-plane{
    padding: 50px 20px 40px 0;
    text-align: right;
    line-height: 1.5;
}
.main-plane a{
    font-size: 25px;
}
.main-plane span{
    font-size: 12px;
}
.main-plane a:visited{
    color: #fff;
    text-decoration: none;
}
@media (max-width: 768px){
    .jobs .bg-detail .item .detail{
        height: 250px;
        overflow-y: auto;
    }
    #JS_pay .JS_item{
        height: 199px;
    }
    #JS_resume .JS_item{
        height: 130px;
    }
    .main-plane{
        padding: 0;
    }
    .jobs .bg-detail .item{
        width: 100% !important;
    }
}
