/* 合作伙伴 */
.partner .item{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.partner .item:hover img{
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.partner .item img{
    width: 100%;
    height: 350px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.partner .item .item-image{
    height: 350px;
    overflow: hidden;
}
.partner .item h4{
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 15px;
    left: 15px;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.6);
    height: 40px;
    line-height: 40px;
}
@media (max-width: 768px){
    .partner .item img{
        height: auto !important;
    }
}